html,body{
margin: 0;
padding: 0;
}
body{
    padding: 15;
    background-color: #f2f3f5;
}
.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#form-add{
padding-left: 30px;
padding-right: 20px;
  }
#form-edit{
    padding-left: 30px;
    padding-right: 20px;
      }
  